@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body { font-family: 'Noto Sans KR', sans-serif; }
