@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    border: 1px solid black;
}
#input-voice {
    margin: 20px;
    padding: 20px;
    border: 4px solid red;
    display: flex;
    flex-direction: column;
}
#result-song {
    width: 100%;
    border-top: 1px solid black;
    margin-top: 24px;
    text-align: center;
}
