<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/styles.css">
<!--    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">-->
    <title>샘플</title>
</head>
<body>
    <!-- Header -->
    <header>
<!--        <h1>퍼펙트 AI 작곡가</h1>-->
<!--        <span id="popup">목소리에 맞는 최적의 곡을 만들어 드립니다.</span>-->
    </header>
    <!-- End Header -->

    <!-- Input Voice Section -->
    <section id="input-voice">
        <input type="file"> <br>
        <button type="button" onclick="onSubmitVoice()">장르 판별</button>

        <div>녹음 상태: <span id="state-recording">null</span></div>
        <button id="start-recording">음성 녹음 시작</button>
        <button id="end-recording">음성 녹음 종료</button>
        <audio controls>녹음된 음성 확인</audio>



    </section>
    <!-- End Input Voice -->

    <!-- Result Of Create Song Section -->
    <section id="result-song">
<!--    <h3>곡 생성 결과</h3>-->
<!--        {{ state }}-->
    </section>
    <!-- End Result Of Create Song Section -->


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/index.js"></script>
</body>
</html>